.contenedorInicio{
    color: wheat;
    background-color: rgb(13, 3, 56);
    min-height: 250px;
    max-height: fit-content;
    padding: 5%;
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.contenedorInicio span {
    text-align: right;
    justify-content: right;
    width: 25%;
}

article{
    padding:1rem;
    width: 50%;
}