
.imgae-list{
    margin: 25px auto;
    background-color: rgba(233, 113, 0, 0.13);
    width: 80%;
    columns: 4 300px;
    column-gap: 3px;
    padding: 1rem;
    
}

.detalle-img{
    width: 90%;
    margin: 3px auto;
    background-color: wheat;
}

.Cards{
    overflow: hidden;
    max-height: fit-content;
    background-color: rgb(233, 113, 0);
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color:wheat;
}

.Cards button {
    width: 30%;
    background-color: rgb(9, 0, 41);
    border-radius: 10px;
}