form{
    width: 100%;
    text-align: center;
    background-color: rgb(51, 51, 51);
    padding: 5px;
}


input{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    height: 30px;
    border-radius: 10px;
}